@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic)
@import 'normailze.sass'
*
  margin: 0
  padding: 0

html,
body
  overflow: hidden
  font-family: 'Poppins', sans-serif

canvas
  position: fixed
  top: 0
  left: 0
  outline: none

.interface
  overflow-y: auto
  overflow-x: hidden
  max-height: 90vh
  position: absolute
  right: 1rem
  top: 1rem
  background-color: rgba(#808080, .8)
  max-width: 15rem
  width: 100%
  border-radius: .5rem
  padding: 0.75rem
  h2
    text-align: center
    color: #fff
  .model-input
    input
      display: none
    button
      display: block
      width: 100%
      margin-top: 1rem
      border-radius: .5rem
      border: none
      padding: .5rem 0
      cursor: pointer
  .plane-sizes
    margin-top: .5rem
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    h3
      text-align: center
      font-weight: 500
      width: 100%
    input
      margin-top: 0.25rem
      width: 43%
      padding: .15rem
  .model-change
    margin-top: 0.5rem
    h2
      font-weight: 600
    p
      text-align: center
    .target-options
      margin-top: 0.5rem
      input
        display: none
      .color
        font-weight: 600
        display: flex
        justify-content: space-between
        align-items: center
        .palette
          border-radius: .5rem
          height: 2rem
          width: 5rem
          background-color: #fff
          cursor: pointer
      .texture
        margin-top: 1rem
        flex-wrap: wrap
        button
          display: block
          width: 100%
          margin-top: 1rem
          border-radius: .5rem
          border: none
          padding: .5rem 0
          cursor: pointer
          &:disabled
            cursor: default
      .roughness
        margin-top: .5rem
